*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.conteiner{
  width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-flow: wrap row;

}
.column {
  flex-direction: column;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.center{
  text-align: center;
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.col-1{
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}
.col-2{
  flex-basis: 16.6666%;
  max-width: 16.6666%;
}
.col-3{
  flex-basis: 25%;
  max-width: 25%;
}
.col-4{
  flex-basis: 33.33333%;
  max-width: 33.33333% ;
}
.col-5{
  flex-basis: 41.6666%;
  max-width: 41.6666% ;
}
.col-6{
  flex-basis:50%;
  max-width: 50%;
}
.col-7{
  flex-basis: 58.333333%;
  max-width: 58.333333%;
}
.col-8{
  flex-basis:66.6666%;
  max-width:66.6666%;
}
.col-9{
  flex-basis: 75%;
  max-width: 75%;
}
.col-10{
  flex-basis:83.33333%;
  max-width: 83.33333%;
}
.col-11{
  flex-basis:91.6666%;
  max-width: 91.6666%;
}
.col-12{
  flex-basis:100%;
  max-width: 100%;
}